<!-- data_loader/templates/admin/product_summary.html -->
{% extends "admin/base_site.html" %}

{% block content %}
<h1>{{ title }}</h1>
<p>Total de Produtos: {{ total_products }}</p>
<p>Valor Total em Estoque: R$ {{ total_value|floatformat:2 }}</p>

<h2>Lista de Produtos</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Estoque</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><strong><a href="{% url 'admin:product_detail' product.id %}">{{ product.name }}</a></strong></td>
            <td>R$ {{ product.price }}</td>
            <td>{{ product.stock }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum produto disponível.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
